/* PC */
@media (min-width: 1024px) {
}
/* Tablet & mobile */
@media (max-width: 1024px) {
  #nav .subnav a {
    padding: 5px 12px;
  }
  .btn {
    padding: 15px 16px;
  }
  .contact-info {
    line-height: 2;
  }
  .contact-form .form-control {
    padding: 15px;
  }
  #footer .socials-list {
    font-size: 32px;
  }
  #footer .socials-list a {
    margin: 0px 8px;
  }
  #footer .coppyright {
    margin-top: 24px;
  }
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
}
/* Mobile */
@media (max-width: 740px) {
  .s-full-width,
  .s-col-full {
    width: 100% !important;
  }
  .s-mt-8 {
    margin-top: 8px !important;
  }
  #nav {
    display: block;
  }
  #nav > li {
    display: block;
  }
  #nav li a {
    display: block;
  }
  #nav > li:first-child {
    display: inline-block;
  }
  #nav .subnav {
    position: initial;
    background-color: #333;
  }
  #nav .subnav a {
    color: #fff;
    padding-left: 40px;
  }
  #header {
    overflow: hidden;
    /* tránh việc các thành phần con ảnh hưởng */
  }
  #header .search-btn {
    display: none;
  }
  #header .mobile-menu-btn {
    display: block;
  }

  #content .member-img {
    width: 60%;
  }
  .contact-form {
    margin-top: 32px;
  }
}
