/*  Reset CSS*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

.clear {
  clear: both;
}
.text-white {
  color: #fff !important;
}
.row {
  margin-left: -8px;
  margin-right: -8px;
}
.col {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}

.col-half {
  width: 50%;
}
.col-third {
  width: 33.33333%;
}
.col-four {
  width: 25%;
}
.col-full {
  width: 100%;
}
.text-center {
  text-align: center !important;
}
.pull-right {
  float: right !important;
}
.btn {
  margin-top: 25px;
  text-decoration: none;
  background-color: #000;
  color: #fff;
  padding: 11px 16px;
  border: none;
  display: inline-block;
}
.btn:hover {
  background-color: #ccc;
  color: #000;
  cursor: pointer;
}
.row::after {
  content: "";
  display: block;
  clear: both;
}
.mt-8 {
  margin-top: 8px !important;
}
.mt-16 {
  margin-top: 16px !important;
}
.mt-32 {
  margin-top: 32px !important;
}
/* Main */

#header {
  height: 50px;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
#nav {
  display: inline-block;
}
#nav,
.subnav {
  list-style-type: none;
}

#nav > li {
  display: inline-block;
}
#nav li {
  position: relative;
}
#nav > li > a {
  color: #fff;
  text-transform: uppercase;
}
#nav li a {
  text-decoration: none;
  line-height: 50px;
  padding: 0px 25px;
  display: inline-block;
}
#nav li:hover .subnav {
  display: block;
}
#nav .subnav li:hover a,
#nav > li:hover > a {
  background-color: rgb(233, 137, 185);
  color: #000;
}
#nav .subnav {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  min-width: 160px;
  display: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
  color: #000;
  display: block;
  padding: 0px 15px;
  line-height: 55px;
}
#nav .nav-arrow-down {
  font-size: 14px;
}
#header .mobile-menu-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
#header .mobile-menu-btn,
#header .search-btn {
  float: right;
  padding: 0 20px;
  line-height: 50px;
}
#header .mobile-menu-btn {
  background-color: #ccc;
}
#header .search-btn:hover {
  background-color: rgb(233, 137, 185);
  cursor: pointer;
}
#header .menu-icon {
  color: #000;
  font-size: 15px;
}
#header .search-icon {
  color: #fff;
  font-size: 15px;
}
#slider {
  margin-top: 50px;
  padding-top: 50%;
  background: url("../img/slider/slider.jpeg") top center / cover no-repeat;
  position: relative;
}
#slider .text-content {
  position: absolute;
  color: #fff;
  left: 50%;
  bottom: 20px;

  transform: translateX(-50%);
  text-align: center;
}
#slider .text-heading {
  font-weight: 500;
  font-size: 24px;
}
#slider .text-description {
  font-size: 15px;
  margin-top: 10px;
}
#content .content-section {
  width: 800px;
  padding: 64px 0px 112px;
  margin-left: auto;
  margin-right: auto;
  /* tablet ipad*/
  max-width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

#content .section-heading {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 2px;
}

#content .section-sub-heading {
  text-align: center;
  font-size: 15px;
  margin-top: 25px;
  font-style: italic;
  opacity: 0.6;
}

#content .about-text {
  font-size: 15px;
  margin-top: 25px;
  text-align: justify;
  line-height: 1.4;
}
#content .member-list {
  margin-top: 32px;
}
#content .member-name {
  font-size: 18px;
  margin-bottom: 15px;
}
#content .member-img {
  width: 154px;
  border-radius: 4px;
}
.tour-section {
  background-color: #000;
}
.ticket-list {
  background-color: #fff;
  margin-top: 40px;
}
.ticket-list li {
  color: #757575;
  padding: 11px 16px;
  font-size: 15px;
  border-bottom: 1px solid #ddd;
  list-style-type: none;
}
.ticket-list .sold-out {
  background-color: #f44336;
  padding: 3px 4px;
  margin-left: 16px;
}
.ticket-list .quantity {
  float: right;
  width: 24px;
  height: 24px;
  background: #000;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  line-height: 24px;
  margin-top: -3px;
}
.places-list {
  margin-top: 16px;
}
.place-img {
  width: 100%;
  display: block;
}
.place-img:hover {
  opacity: 0.6;
}
.place-content {
  font-size: 15px;
  padding: 16px;
  background-color: #fff;
}
.place-heading {
  font-size: 15px;
  font-weight: 600;
}
.place-time {
  margin-top: 15px;
  color: #757575;
}
.place-desc {
  margin-top: 15px;
  line-height: 1.4;
}

/* Start: Modal */
/* Phan modal (khi bam vo buyticket) phu kin toan bo khung hinh */
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
  display: none;
}
/* class modal co class open */
.modal.open {
  display: flex;
}
.modal-header {
  height: 130px;
  background: #009688;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #fff;
}
.modal-container {
  width: 900px;
  background: #fff;
  max-width: calc(100% - 32px);
  min-height: 200px;
  position: relative;
  /* hieu ung */
  animation: modalFadeIn ease 0.5s;
}
.modal-close:hover {
  opacity: 1;
}
.modal-close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px;
  color: #fff;
  cursor: pointer;
  opacity: 0.9;
}
.modal-heading-icon {
  margin-right: 15px;
}
.modal-body {
  padding: 16px;
}
.modal-label {
  display: block;
  font-size: 15px;
  margin-bottom: 12px;
}
.modal-input {
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 24px;
}
#buy-tickets:hover {
  cursor: pointer;
  opacity: 0.9;
}
#buy-tickets {
  width: 100%;
  color: #fff;
  background: #009688;
  border: none;
  font-size: 15px;
  text-transform: uppercase;
  padding: 18px;
}
.modal-footer {
  padding: 16px;
  text-align: right;
}
.modal-footer a {
  color: #2196f3;
}
/* End: Modal */

/* Start: Contact section */
.contact-content {
  margin-top: 48px;
}
.contact-info {
  font-size: 18px;
  line-height: 1.5;
}
.contact-info a {
  color: #1f3191;
  opacity: 0.8;
}
.contact-info a:hover {
  opacity: 1;
}
.contact-info i[class*="ti-"] {
  width: 30px;
  display: inline-block;
}
.contact-form {
  font-size: 15px;
}
.contact-form .form-control {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
}

/* End: Contact section */

/* Start: Map section */
.map-section img {
  width: 100%;
}
/* End: Map section */
/* Start: Footer section */
#footer {
  padding: 64px 16px 112px;
  text-align: center;
}
#footer .socials-list {
  font-size: 24px;
}
#footer .socials-list a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}
#footer .coppyright a:hover,
#footer .socials-list a:hover {
  color: rgba(0, 0, 0, 0.4);
}
#footer .coppyright {
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.6);
}
#footer .coppyright a {
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.6);
}
/* End: Footer section */

/* tao hieu ung xuat hien cho modal */
@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
